<h1>Personalidade Quiz</h1>
<p>Personalidade Quiz é uma plataforma online projetada para ajudar os usuários a explorar e entender melhor suas próprias características, preferências e tendências comportamentais. Oferecemos uma variedade de quizzes de personalidade divertidos e envolventes, abrangendo uma ampla gama de temas e interesses, desde preferências de filmes e músicas até estilos de liderança e habilidades sociais. Nosso objetivo é proporcionar uma experiência interativa e educativa, ajudando os usuários a descobrir mais sobre si mesmos de uma maneira divertida e informativa.</p>
<div>
  <button routerLink="/gatoCachorro">Gato ou Cachorro</button>
</div>
<div>
  <button routerLink="/gokuVegeta">Goku ou Vegeta</button>
</div>
<div>
  <button routerLink="/akameEsdeath">Akame ou Esdeath</button>
</div>
